body {
  background-color: #e0e0e0;
  margin:0px 0px 0px 0px;

}

header {
  vw:100%;
  height: 80px;
  position:top;
  background-color: black;

}


footer {
  position: bottom;
  background-color: black;
  padding-bottom: 50px;

}

div {
  background-color: white;
  height: 80vh;
}

.view {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}